<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/bulb.ico" rel="icon">

  <title>Hacker News</title>  

<link href="../static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="../index.html" title="">01 : Home</a></li>
          <li><a href="../works.html" title="">02 : Works</a></li>
          <li><a href="../about.html" title="">03 : About me</a></li>
          <li><a href="../contact.html" title="">04 : Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">002/006 : Hacker news on priority</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form action="cust_news" method="post" class="reveal-content">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://lapcatsoftware.com/articles/unsigned.html" class="form-control">Can't you just right click?</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.cbc.ca/radio/asithappens/as-it-happens-thursday-edition-1.5146761/new-academic-journal-only-publishes-unsurprising-research-rejected-by-others-1.5146765" class="form-control">New academic journal only publishes 'unsurprising' research rejected by others</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.latimes.com/world-nation/story/2020-08-21/telegram-messaging-app-crucial-belarus-protests" class="form-control">Telegram messaging app proves crucial to Belarus protests</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.latimes.com/world-nation/story/2020-08-21/telegram-messaging-app-crucial-belarus-protests" class="form-control">Telegram messaging app proves crucial to Belarus protests</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://battlepenguin.com/tech/moving-from-youtube-to-peertube/" class="form-control">Moving from YouTube to PeerTube</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.fast.ai/2020/08/21/fastai2-launch/" class="form-control">Fast.ai releases new deep learning course, libraries, and book</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://petapixel.com/2020/08/20/lightroom-app-update-wipes-users-photos-and-presets-adobe-says-they-are-not-recoverable/" class="form-control">Lightroom app update wipes users' photos and presets, Adobe says not recoverable</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://psyche.co/ideas/why-efficiency-is-dangerous-and-slowing-down-makes-life-better" class="form-control">Efficiency is dangerous and slowing down makes life better</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://offensi.com/2020/08/18/how-to-contact-google-sre-dropping-a-shell-in-cloud-sql/" class="form-control">How to contact Google SRE by dropping a shell in Cloud SQL</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.npr.org/sections/money/2020/08/11/900895704/secret-gyms-and-the-economics-of-prohibition?s=09" class="form-control">Secret gyms and the economics of prohibition</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.lyft.com/blog/posts/ca-operations-update" class="form-control">Rideshare operations are being suspended in California</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.bbc.co.uk/news/technology-53835079" class="form-control">Apple helped make 'top secret' iPod for US government</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://twitter.com/liamosaur/status/1296305262144364544" class="form-control">The 212-story skyscraper in Melbourne, Australia</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.theverge.com/2020/8/20/21377841/uber-lyft-california-judge-block-emergency-stay-employees" class="form-control">Uber and Lyft shutdown in California averted as judge grants emergency stay</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://twitter.com/photomatt/status/1296879217297113088" class="form-control">WordPressiOS Locked by App Store</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://blog.apnic.net/2020/08/21/chromiums-impact-on-root-dns-traffic/" class="form-control">Chromium's Impact on Root DNS Traffic</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://yoric.github.io/post/why-did-mozilla-remove-xul-addons/" class="form-control">Why Did Mozilla Remove XUL Add-Ons?</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="http://www.davisr.me/projects/remarkable-microsd/" class="form-control">ReMarkable MicroSD (2019)</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.cnbc.com/2020/08/19/apple-reaches-2-trillion-market-cap.html" class="form-control">Apple becomes first U.S. company to reach a $2T market cap</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://lwn.net/Articles/829123/" class="form-control">The software industry is going through the “disposable plastic” crisis</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://hacks.mozilla.org/2020/08/an-update-on-mdn-web-docs/" class="form-control">An Update on MDN Web Docs</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://engineering.shopify.com/blogs/engineering/how-shopify-reduced-storefront-response-times-rewrite" class="form-control">How Shopify reduced storefront response times with a rewrite</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://finshots.in/archive/citibank-billion-dollar-blunder/" class="form-control">Citibank's $900M Blunder</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.fox13memphis.com/news/local/activists-find-camera-inside-mysterious-box-power-pole-near-union-organizers-home/5WCLOAMMBRGYBEJDGH6C74ITBU/" class="form-control">Activists find camera inside box on power pole near union organizer’s home</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.theatlantic.com/ideas/archive/2020/08/kindergartener-virtual-education/615316/" class="form-control">My kid can’t handle a virtual education, and neither can I</a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="form-group">
                        <a href="https://www.smithsonianmag.com/travel/sudan-land-kush-meroe-ancient-civilization-overlooked-180975498/" class="form-control">The Kush civilization flourished in Sudan nearly 5K years ago</a>
                      </div>
                    </div>

                  </div>
                </form>
            </div>

          </div>
         
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="../static/main.70a66962.js"></script></body>

</html>